.footer {
    background-color: #36454F;
    color: #FFFFFF;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 10vh;
    bottom: 0;
}

.credit {
    padding: 10px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}